@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-size: 14px;
}
*::selection {
  background-color: #ef4444;
  color: white;
}

*::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
*::-webkit-scrollbar-thumb { /* Foreground */
  background:  #ef4444;
}
*::-webkit-scrollbar-track { /* Background */
  background: #99999917;
}
